HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# Environment variables
.env
.env.*

# Local Spring configurations
application-local.properties
application-dev.properties
application-secrets.properties

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Generated build folders
build/

!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/